*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 255, 255);
    
}

header{
    margin: 10px;
    color: whitesmoke;
    
}
.slider {
    height: 100vh;
    text-align: center;
    display: block;
    justify-content: center;
    
}

.artikel{
    text-align: center;
    height: 100vh;
    display: grid;
    justify-content: center;
    margin-top: 10%;
    
}

.artikelimg{
    object-fit:cover;
    width: 100%;
    height: 667px;
    
}

 .slider-slides .slider-slide{
width: 100%;
object-fit: cover;
height: 667px;    


    
    
}

.logo{
width: 100px;


}
h1{
    font-family: bodoni moda;
    color: #fff;
    margin-top: 50%;
    
}
h2{
    
    margin-top: 57%;
    color: #fff;
}
.læsmere{
    font-family: quicksand;
    
    
    
    height: 5vh;
    width: 400px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #E79899;
    border: none;
}

.læsartikel{
    font-family: quicksand;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 5vh;
    width: 400px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #E79899;
    border: none;
}


.rum{
    font-family: quicksand;
    height: 5vh;
    width: 400px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #DEC161;
    border: none;
    margin-top: 10%;
}

.hamburger {
    color: #E79899;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 10px;
    
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  

  .menu {
    font-family: quicksand;
    font-size: 20px;
    
    text-align: center;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8); /* Black see-through */
    color: #E79899;
    list-style: none;
    padding-top: 10rem;
    
  }

  .showMenu {
    transform: translateY(0);
    
  }

.menuItem{
    color: floralwhite;
    text-decoration: none;
    
}

.sec-2{
    display: grid;
    justify-content: center;
    
    
    
}

.køkkenet{
    background-image: url(/img/images/kitchen.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 20vh;
    width: 100%;
    
    
}

.bad{
    background-image: url(/img/images/bathroom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    margin-top: 5%;
}

.stuen{
    background-image: url(/img/images/livingroom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    margin-top: 5%;
}

.haven{
    background-image: url(/img/images/garden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    margin-top: 5%;
}

h3{
    
    text-align: center;
    color: #707070;
    font-family: quicksand;
    font-weight: lighter;
}

h4{
    padding: 20px;
    text-align: center;
    color: #707070;
    font: normal normal medium 26px/30px Bodoni Moda;
    font-size: 26px;
    font-weight:medium;
}

.centered{
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: bold;
    font-family: bodoni moda;
    font-size: 30px;
    
}
.læsmere{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h6{
    
  top: 20%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: quicksand;
    font-weight: bold;
    font-size: 20px;
}

p{
    
    color: #E79899;
    
    font-weight: bold;
    
    font-family: quicksand;
    font-size: 14px;
}

.thomas{
    color: #fff;
    font-size: 50px;
    font-family: bodoni moda;
    top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
    text-align: center;

}

.overlay{
    background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #fff;
  position: absolute;
  opacity:1;
  transform: scale(1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 667px;
  width: 100%;
  
}

.container {
    margin-top: 20px;
    object-fit: cover;
    position: absolute;
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
  }

footer{
    background-color: #707070;
    height: 667px;
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
}

.logo2{
    width: 137px;
    height: 80px;
    
    margin-top: 10%;
}

h8{
    color: #fff;
    font-family: quicksand;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 15%;

}

form {
    width: 50%;
    margin:  100px auto;
    margin-top: 20px;
}

input {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid black;
    
}

h7{
    color: #707070;
    text-align: center;
    font: normal normal normal 26px/30px Bodoni Moda;
    letter-spacing: 5px;
}



.msg {
    text-align: center;
}

form input[type=submit] {
    background-color: #DEC161;
    color: white;
    border:none;
    
}

input:valid {
    border: 2px solid springgreen;
}

input:focus {
    outline: transparent;
}


label {
    font-family: quicksand;
    color: #E79899;
    font-weight: bold;

}

i{
    
    margin-top: 50%;
}

.navbar{
    
    display: flex;
    justify-content:end;
    
    text-align: end;
    list-style: none;
    
    font-family:quicksand;
   margin-bottom: 20px;

    

   
}

.navitem{
    text-decoration: none;
    color: #E79899;
    margin-right: 50px;
    
}

@media (max-width: 768px){
    .slider-slide, .slider{
        width: 100%;
    }

    .artikelimg, .artikel{
        width: 100%;
    }

    .læsmere, .rum, .læsartikel{
        max-width: 200px;
    }
    .rum{
        margin-left: 25%;
        margin-bottom: 20px;
    }

    .køkkenet, .bad, .haven, .stuen{
        margin-bottom: 20px;
        width: 100%;
        
    }

    .thomas{
        font-size: 26px;
        
    }

    h6{
        font-size: 14px;
    }

    .sec-2{
        text-align: center;
        margin-top: 10%;
    }

    
    
    .p-1{
        
        font-size: 14px;
    }

    .abonner{
        margin-top: 10%;
    }
    
    form{
        width: 300px;
    }

    footer{
        width: 100%;
        
    }

    .logo2{
        margin-top: 50%;
    }

    .navbar, .navitem{
        display: none;
    }

}

.abonner{
    text-align: center;
}

@media (min-width: 768px){
    .hamburger{
        display: none;
    }

    
}
